.button {
    border: none;
    color: white;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    background: $blue;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button--danger {
    background: $red;
}


.button--link {
    background: none;
}